h1 {
    color: orange;
    text-align: center;
}
.container {width: 100%}

h5{background-color: yellow;
width: 33%;
float: left;
margin-bottom: 1%;}

#aa{color: orange;
width: 32%;
float: left;
background-color: blue;
height: 200px;
margin: 0 0.5%;
padding: 9px;
}
#bb{
	color: blue;
width: 32%;
float: left;
background-color: green;
height: 200px;

}
#cc{
	color: blue;
width: 32%;
float: left;
background-color: red;
height: 200px;
margin: 0 0.5%;
float: right;

}
